#main{
    background-color: #050813;
    margin: 20px 0 5px 0;
    padding: 20px 0;
    justify-content: center;
    margin-right: 23px;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 73vh;
    overflow-y: hidden;
}
#select-stock{
    padding: 0.3em 1em;
    margin: 1em;
    background-color: #0e1737;
    color: white;
}

#action > div:hover{
    background-color: #080e21;
}